<h1>Edit Task :</h1>

<%= form_with model: @task do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :details %>
  <%= t.text_area :details %>
  <%= t.label :completed %>
  <%= t.check_box :completed %>
  <%= t.submit 'Edit task'%>
<% end %>

<br>
<%= link_to 'Back to "My tasks"', tasks_path %>
